@import "../../sass/index.scss";

.footer {
  padding: 7rem 0;
  box-shadow: $box-shadow;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__item {
    padding: 2rem 0;
    font-size: 1.6rem;
    transition: all 0.25s linear;
    &:hover {
      color: $primary-color;
    }
  }
  &__logo {
    height: 4rem;
  }
}
